@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

html {
	height: 100%;
	width: 100%;
	background-color: #fcfcfc;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

.rates-app {
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.rates-app > div {
	flex: 0 0 auto;
}